:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: rgb(243, 239, 239);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color, white);
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* navbar styles */
.whole-page {
    display: flex;
    flex-direction: column;
    margin: 0 10vw;
    padding-top: 14vh;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: rgb(2, 178, 120);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    color: white;
}

.web-title {
    font-size: Larger;
    font-weight: 900;
}

.nav-link {
    display: flex;
    .gap {
        margin-left: 2vw;
    }
    a {
        font-weight: 200;
    }
}



/* Homepage */
.homepage {
    display: flex;
    flex-direction: column;
}

.filter-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
}

.filters {
    display: flex;
    align-items: center;
}

.filters label {
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: rgb(2, 178, 120);
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

.filters .listOrder-button{
    display: none;
}

.filters .listOrder-button:checked ~ label {
    background-color: rgb(2, 122, 82);
}

.search-query {
    border-radius: 10px;
    width: 20vw;
    height: 4vh;
    text-indent: 2%;
    user-select: none;
}

.post-card {
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 2vh;

    .title-name {
        font-size: large;
        font-weight: 800;
        color: black;
    }
    .gap {
        margin-top: 1vh;
    }
}


/* create post form */
.create-form {
    margin: 0 auto;
    padding: 2rem;
    padding-top: 3rem;
    background-color: white;
    text-align: center;

    button {
        color: white;
        background-color: rgb(2, 178, 120);
    }
}

.form-inputs {
    display: flex;
    flex-direction: column;

    .title-input {
        height: 1.3rem;
        margin-bottom: 1rem;
        width: 30vw;
    }   

    .content-input {
        margin-bottom: 1rem;
        width: 30vw;
    }

    .image-input {
        height: 1.3rem;
        margin-bottom: 1rem;
        width: 30vw;
    }
}



/* update post form */
.update-form {
    margin: 0 auto;
    padding: 2rem;
    padding-top: 3rem;
    background-color: white;
    text-align: center;

    button {
        color: white;
        background-color: rgb(2, 178, 120);
    }
}



/* post detail page */
.post-detail {
    padding: 2rem 1rem 1rem 1rem;
    background-color: white;
    border-radius: 8px;

    .post-title {
        font-size: large;
        font-weight: 800;
        color: black;
    }
    .gap {
        margin-top: 1vh;
    }

    .post-img img {
        max-width: 300px;
        max-height: 200px;
    }

}

.edit-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.change-post {
    display: flex;

    .gap {
        margin-right: 2vw;
    }

    a {
        color: black;
    }

    .delete {
        cursor: pointer;
        user-select: none;
    }
}

.upvote {
    .symbol {
        cursor: pointer;
        user-select: none;
    }
}

.comment-box { 
    background-color: var(--background-color, white);;
    padding: 1rem;
}

.history {
    margin-bottom: 1.5rem;
}

.comment {
    display: flex;
    justify-content: space-between;

    input {
        width: 82%;
        text-indent: 1%;
        border-radius: 5px;
    }

    button {
        background-color: rgb(2, 178, 120);
        color: white;
        padding: 0.6em 0.8em;
        font-size:small;
    }
}

